.gps-marker {
  background: transparent;
  border: none;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dot.green {
  background: #22c55e;
}

.dot.yellow {
  background: #facc15;
}

.dot.red {
  background: #ef4444;
}
